## We will be visualising our data in this notebook.The most important thing is to make sense of the data. 

- Histograms
- Box Plots
- Bar Charts for quantities
- Maybe Scatter Plot

In [1]:
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import numpy as np
import folium
import pylab 

pd.options.plotting.backend = 'matplotlib'
plt.interactive(True)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_columns', 500)

In [2]:
df = pd.read_csv("../data/processed/train.csv")

In [3]:
df.isnull().sum(axis = 0)

id                0
price             0
date              0
postcode          0
type              0
                 ..
altitude          0
hpi_date          0
region_name       0
area_code         0
adjusted_price    0
Length: 136, dtype: int64

In [4]:
df.head()

,id,price,date,postcode,type,new_build,land,primary_address,secondary_address,street,ppd,record,address1,address2,address3,building_reference_number,current_energy_rating,potential_energy_rating,current_energy_efficiency,potential_energy_efficiency,property_type,built_form,inspection_date,local_authority,constituency_x,county_y,lodgement_date,transaction_type,environment_impact_current,environment_impact_potential,energy_consumption_current,energy_consumption_potential,co2_emissions_current,co2_emiss_curr_per_floor_area,co2_emissions_potential,lighting_cost_current,lighting_cost_potential,heating_cost_current,heating_cost_potential,hot_water_cost_current,hot_water_cost_potential,total_floor_area,energy_tariff,mains_gas_flag,floor_level,flat_top_storey,flat_storey_count,main_heating_controls,multi_glaze_proportion,glazed_type,glazed_area,extension_count,number_habitable_rooms,number_heated_rooms,low_energy_lighting,number_open_fireplaces,hotwater_description,hot_water_energy_eff,hot_water_env_eff,floor_description,floor_energy_eff,floor_env_eff,windows_description,windows_energy_eff,windows_env_eff,walls_description,walls_energy_eff,walls_env_eff,secondheat_description,sheating_energy_eff,sheating_env_eff,roof_description,roof_energy_eff,roof_env_eff,mainheat_description,mainheat_energy_eff,mainheat_env_eff,mainheatcont_description,mainheatc_energy_eff,mainheatc_env_eff,lighting_description,lighting_energy_eff,lighting_env_eff,main_fuel,wind_turbine_count,heat_loss_corridoor,unheated_corridor_length,floor_height,photo_supply,solar_water_heating_flag,mechanical_ventilation,address,local_authority_label,constituency_label,posttown,construction_age_band,lodgement_datetime,tenure,fixed_lighting_outlets_count,low_energy_fixed_light_count,month_year,current_month,latitude,longitude,grid_ref,county,district,ward,district_code,ward_code,county_code,constituency_y,region,london_zone,middle_layer_super_output_area,postcode_area,postcode_district,quality,user_type,last_updated,nearest_station,distance_to_station,postcode_area.1,postcode_district.1,police_force,water_company,plus_code,average_income,sewage_company,travel_to_work_area,rural_urban,altitude,hpi_date,region_name,area_code,adjusted_price
0,{3AA2618B-BE39-4C39-9CD3-B96509D19085},383000,2011-06-24,NW2 2BE,F,Y,L,Flat 14,Flat 14,Granville Road,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-06-01,2020-11-01,51.566885,-0.203169,TQ246868,Greater London,Barnet,Childs Hill,E09000003,E05000045,E11000009,Finchley and Golders Green,London,3.0,Childs Hill,NW,NW2,1.0,0.0,2020-11-21,Golders Green,0.825966,NW,NW2,Metropolitan Police,Thames Water,9C3XHQ8W+QP,50100.0,NaN,London,Urban major conurbation,57.0,2011-06-01,Barnet,E09000003,580749
1,{0803A974-F115-49DE-886D-518A6E1B4641},120000,2011-09-29,CT14 6FH,F,N,L,10,NaN,Out Downs,A,A,"10, Out Downs",NaN,NaN,5.010500e+09,B,B,82.0,83.0,Maisonette,NO DATA!,2011-09-07,E07000108,E14000670,Kent,2011-09-07,new dwelling,87.0,88.0,84.0,77.0,1.1,16.0,1.0,65.0,41.0,225.0,228.0,50.0,50.0,72.52,standard tariff,NaN,mid floor,NaN,NaN,NaN,NaN,NO DATA!,NO DATA!,NaN,NaN,NaN,4.0,NaN,"From main system, plus solar",Very Good,Very Good,Average thermal transmittance 0.20 W/m?K,Very Good,Very Good,High performance glazing,Very Good,Very Good,Average thermal transmittance 0.17 W/m?K,Very Good,Very Good,None,NaN,NaN,Average thermal transmittance 0.14 W/m?K,Very Good,Very Good,"Boiler and radiators, mains gas",Good,Good,Time and temperature zone control,Very Good,Very Good,Low energy lighting in 40% of fixed outlets,Average,Average,mains gas - this is for backwards compatibilit...,0.0,NO DATA!,NaN,2.4,NaN,NaN,NO DATA!,"10, Out Downs",Dover,Dover,DEAL,NO DATA!,2011-09-07 19:29:27,NaN,10.0,4.0,2011-09-01,2020-11-01,51.230140,1.400401,TR374533,Kent,Dover,North Deal,E07000108,E05012865,E10000016,Dover,South East,NaN,Deal East,CT,CT14,1.0,0.0,2020-11-21,Deal,0.796283,CT,CT14,Kent,Southern Water,9F336CJ2+35,40300.0,NaN,Margate and Ramsgate,Urban city and town,4.0,2011-09-01,Dover,E07000108,186903
2,{1515BA41-C26E-40DF-906D-E523EF4710FF},170000,2013-02-06,CT10 2EW,D,N,F,179,NaN,Ramsgate Road,A,A,"179, Ramsgate Road",NaN,NaN,5.437711e+09,C,B,72.0,83.0,Bungalow,Detached,2013-11-20,E07000114,E14000948,Kent,2013-12-05,marketed sale,71.0,82.0,144.0,80.0,3.5,28.0,2.0,94.0,64.0,607.0,537.0,90.0,90.0,126.00,Single,Y,NODATA!,NaN,NaN,2106.0,100.0,double glazing installed during or after 2002,Normal,0.0,6.0,6.0,53.0,0.0,From main system,Good,Good,"Suspended, no insulation (assumed)",NaN,NaN,Fully double glazed,Good,Good,"Cavity wall, filled cavity",Good,Good,None,NaN,NaN,"Pitched, 300+ mm loft insulation",Very Good,Very Good,"Boiler and radiators, mains gas",Good,Good,"Programmer, room thermostat and TRVs",Good,Good,Low energy lighting in 53% of fixed outlets,Good,Good,mains gas (not community),0.0,NO DATA!,NaN,NaN,0.0,NaN,natural,"179, Ramsgate Road",Thanet,South Thanet,BROADSTAIRS,England and Wales: 1930-1949,2013-12-05 17:13:25,owner-occupied,15.0,8.0,2013-02-01,2020-11-01,51.349873,1.427294,TR387667,Kent,Thanet,Viking,E07000114,E05005101,E10000016,South Thanet,South East,NaN,Dumpton,CT,CT10,1.0,0.0,2020-11-21,Dumpton Park,0.475358,CT,CT10,Kent,Southern Water,9F338CXG+WW,40500.0,NaN,Margate and Ramsgate,Urban city and town,40.0,2013-02-01,Thanet,E07000114,303694
3,{3B9567F0-27ED-4F3C-9B21-0E36CA0E49AD},80000,1996-01-30,LE2 5RG,D,N,F,1,NaN,Elms Close,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996-01-01,2020-11-01,52.594163,-1.078230,SP625999,Leicestershire,Oadby and Wigston,Oadby St Peter's,E07000135,E05005533,E10000018,Harborough,East Midlands,NaN,Oadby South & West,LE,LE2,1.0,0.0,2020-11-21,South Wigston,3.996810,LE,LE2,Leicestershire,Severn Trent,9C4WHWVC+MP,43300.0,NaN,Leicester,Urban city and town,104.0,1996-01-01,Oadby and Wigston,E07000135,357255
4,{3D67D582-F0E5-4B4C-8C13-8FF0C9F29656},190000,2015-07-24,E17 4LR,F,N,L,58A,NaN,Roberts Road,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-07-01,2020-11-01,51.599635,-0.014554,TQ376908,Greater London,Waltham Forest,Chapel End,E09000031,E05000592,E11000009,Walthamstow,London,4.0,Highams Park West,E,E17,1.0,0.0,2020-11-21,Highams Park,1.384140,E,E17,Metropolitan Police,Thames Water,9C3XHXXP+V5,49200.0,NaN,London,Urban major conurbation,16.0,2015-07-01,Waltham Forest,E09000031,239246

In [5]:
df.columns

Index(['id', 'price', 'date', 'postcode', 'type', 'new_build', 'land',
       'primary_address', 'secondary_address', 'street',
       ...
       'plus_code', 'average_income', 'sewage_company', 'travel_to_work_area',
       'rural_urban', 'altitude', 'hpi_date', 'region_name', 'area_code',
       'adjusted_price'],
      dtype='object', length=136)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171910 entries, 0 to 171909
Columns: 136 entries, id to adjusted_price
dtypes: float64(41), int64(2), object(93)
memory usage: 178.4+ MB

In [7]:
df.describe()

,price,building_reference_number,current_energy_efficiency,potential_energy_efficiency,environment_impact_current,environment_impact_potential,energy_consumption_current,energy_consumption_potential,co2_emissions_current,co2_emiss_curr_per_floor_area,co2_emissions_potential,lighting_cost_current,lighting_cost_potential,heating_cost_current,heating_cost_potential,hot_water_cost_current,hot_water_cost_potential,total_floor_area,flat_storey_count,main_heating_controls,multi_glaze_proportion,extension_count,number_habitable_rooms,number_heated_rooms,low_energy_lighting,number_open_fireplaces,sheating_energy_eff,sheating_env_eff,wind_turbine_count,unheated_corridor_length,floor_height,photo_supply,fixed_lighting_outlets_count,low_energy_fixed_light_count,latitude,longitude,london_zone,quality,user_type,distance_to_station,average_income,altitude,adjusted_price
count,1.719100e+05,1.040330e+05,104033.000000,104033.000000,104033.000000,104033.000000,104033.000000,104033.000000,104033.000000,104033.000000,104033.000000,104033.000000,104033.00000,104033.000000,104033.000000,104033.000000,104033.000000,104033.000000,3088.000000,98455.000000,97525.000000,98363.000000,98363.000000,98363.000000,101394.000000,102739.000000,0.0,0.0,99678.000000,4297.000000,40144.000000,60949.000000,40497.000000,40497.000000,171910.000000,171910.000000,21066.000000,171910.000000,171910.000000,171910.000000,171910.000000,171910.000000,1.719100e+05
mean,1.755092e+05,5.009026e+09,61.496727,77.765373,58.132468,75.237550,272.660166,154.551794,4.472255,48.792210,2.566553,82.290152,55.59608,727.535451,540.864592,137.145628,90.540234,94.038526,2.848122,2136.795003,92.462917,0.536523,4.730803,4.637516,45.965856,0.174841,NaN,NaN,0.000321,5.353974,2.452239,0.139297,12.470232,5.831296,52.303054,-1.301942,3.602772,1.000471,0.000378,2.860523,44243.583270,65.602583,3.111453e+05
std,1.437602e+05,2.886208e+09,12.653137,10.807542,13.891746,12.511076,114.891785,99.021500,2.895833,20.334645,2.077383,42.966569,25.12962,481.946911,313.374886,68.146441,36.789224,53.866836,1.182938,110.138102,22.898346,0.750413,1.598621,1.610242,34.208517,0.520075,NaN,NaN,0.029371,3.010512,0.347350,2.509866,7.512170,6.141782,1.134808,1.317930,1.432723,0.046453,0.019441,3.482780,9736.051755,52.695614,2.146432e+05
min,1.000000e+04,2.060000e+02,1.000000,1.000000,1.000000,1.000000,-310.000000,-331.000000,-5.000000,-55.000000,-10.000000,-1.000000,-1.00000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,NaN,NaN,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,49.969212,-5.695598,1.000000,1.000000,0.000000,0.000000,20000.000000,-2.000000,1.004600e+04
25%,7.995000e+04,2.510961e+09,55.000000,73.000000,49.000000,69.000000,201.000000,88.000000,2.900000,36.150925,1.400000,59.000000,42.00000,461.000000,372.000000,97.000000,69.000000,68.600000,2.000000,2104.000000,100.000000,0.000000,4.000000,4.000000,15.000000,0.000000,NaN,NaN,0.000000,3.740000,2.330000,0.000000,8.000000,2.000000,51.447529,-2.200922,2.000000,1.000000,0.000000,0.814569,37200.000000,24.000000,1.661822e+05
50%,1.380000e+05,5.005311e+09,63.000000,80.000000,59.000000,77.000000,255.000000,129.000000,3.900000,46.000000,2.200000,76.000000,53.00000,638.000000,480.000000,115.000000,81.000000,84.000000,3.000000,2106.000000,100.000000,0.000000,5.000000,5.000000,43.000000,0.000000,NaN,NaN,0.000000,5.460000,2.400000,0.000000,11.000000,5.000000,52.032643,-1.316124,3.000000,1.000000,0.000000,1.651710,43100.000000,53.000000,2.536290e+05
75%,2.250000e+05,7.515789e+09,69.000000,85.000000,67.000000,84.000000,325.000000,202.000000,5.400000,58.000000,3.200000,98.000000,65.00000,870.000000,633.000000,154.000000,103.000000,107.800000,3.000000,2107.000000,100.000000,1.000000,5.000000,5.000000,75.000000,0.000000,NaN,NaN,0.000000,6.920000,2.500000,0.000000,15.000000,8.000000,53.320524,-0.218269,5.000000,1.000000,0.000000,3.357415,50200.000000,94.000000,3.894680e+05
max,1.605000e+06,9.999961e+09,136.000000,138.000000,136.000000,139.000000,2178.000000,1647.000000,225.000000,548.000000,153.000000,8253.000000,4559.00000,40241.000000,27222.000000,944.000000,789.000000,6886.100000,22.000000,2706.000000,100.000000,4.000000,70.000000,55.000000,139.000000,37.000000,NaN,NaN,1.000000,87.000000,24.000000,100.000000,222.000000,222.000000,55.786744,1.755688,7.000000,8.000000,1.000000,40.624800,86100.000000,458.000000,1.409115e+06

In [8]:
cat = ['new_build', 'land', 'constituency', 'region', 'london_zone', 'county', 'district', 'ward']
for i in cat:
    print(df[i].value_counts().head(10))
    print('-' * 70)

N    153885
Y     18025
Name: new_build, dtype: int64
----------------------------------------------------------------------
F    131386
L     40521
U         3
Name: land, dtype: int64
----------------------------------------------------------------------

KeyError: 'constituency'

In [ ]:
group_by = ['month_year', 'type']

# use unstack()
ax = (df[(df.type != 'O')].groupby(group_by)
    .median()['adjusted_price']
    .unstack()
    .plot(kind='line', figsize=(20,10), marker='o', linestyle='-', linewidth=1))
ax.set_title('Median Ajusted Price grouped by type')
ax.set_xlabel('Month Year')
ax.set_ylabel('Adjusted Price')

In [ ]:
group_by = ['month_year', 'region']

# use unstack()
(df.groupby(group_by)
    .median()['adjusted_price']
    .unstack()
    .plot(kind='line', figsize=(20,10), marker='o', linestyle='-', linewidth=0.7))

In [ ]:
fig, axes = plt.subplots(2, 1, figsize=(20, 30), sharex=True)
for name, ax in zip(['adjusted_price', 'price'], axes):
    sns.boxplot(data=df[(df.adjusted_price <= 300000) & ((df.month_year).dt.year >= 2018)], x='month_year', y=name, ax=ax)
    ax.set_ylabel('Median Adjusted Price')
    ax.set_title(name)
# Remove the automatic x-axis label from all but the bottom subplot
if ax != axes[-1]:
    ax.set_xlabel('')

In [ ]:
df_2 = df.copy()
df_2 = df_2.set_index('date')
df_2_weekly_mean = df_2[df_2.columns].resample('M').median()
df_2

In [ ]:
df_2_weekly_mean = df_2_weekly_mean[['price', 'adjusted_price']]

In [ ]:
df_2_weekly_mean

In [ ]:
# Start and end of the date range to extract
start, end = '1995-01', '2020-12'
# Plot daily and weekly resampled time series together
fig, ax = plt.subplots(figsize=(20, 10))
ax.plot(df_2_weekly_mean.loc[start:end, 'adjusted_price'],
marker='o', linestyle='-', linewidth=1, label='Adjusted Price')
ax.plot(df_2_weekly_mean.loc[start:end, 'price'],
marker='o', linestyle='-', linewidth=1,label='Price Paid')
ax.set_title('Monthly Medians')
ax.set_xlabel('Year')
ax.set_ylabel('£')
ax.legend();

In [ ]:

# Plot daily and weekly resampled time series together
fig, ax = plt.subplots(figsize=(20, 10))
ax.plot(df['month_year'].value_counts().sort_index(),
marker='o', linestyle='-', linewidth=1,label='Price Paid')
ax.set_title('Number of house sales per month')
ax.set_xlabel('Year')
ax.set_ylabel('Number of Transactions')
ax.legend();
# fig.add_annotation(x = '2016-06-23',
#         y = uk_referendum,
#         xref = 'x',
#         yref = 'y',
#         text = 'UK Referendum',
#         showarrow = True,
#         arrowhead = 7,
#         ax = 0,
#         ay = -40)
# fig.add_annotation(x = '2007-12-01',
#         y = financial_crash,
#         xref = 'x',
#         yref = 'y',
#         text = 'Financial Crash',
#         showarrow = True,
#         arrowhead = 7,
#         ax = 0,
#         ay = -40)
# fig.add_annotation(x = '2020-03-16',
#         y = first_lockdown,
#         xref = 'x',
#         yref = 'y',
#         text = 'First Lock Down',
#         showarrow = True,
#         arrowhead = 7,
#         ax = 0,
#         ay = -40)

# fig.update_layout(showlegend=False)
# fig.show()

In [ ]:
np.log(df.adjusted_price).plot(kind = 'hist', bins=40)

In [ ]:
df.info()

In [ ]:
stats.probplot(np.log(df.adjusted_price), dist="norm", plot=pylab)
pylab.show()

In [ ]:
np.log(df.price)

In [ ]:
np.log(df.adjusted_price).plot(kind = 'hist', bins=40)

In [ ]:
df['new_build'].value_counts().plot(kind = 'hist', bins=40)

In [ ]:
fig = df['new_build'].value_counts().plot.bar()
fig.show()

In [ ]:
fig = last_sale['year'].value_counts().plot.bar()
fig.show()

In [ ]:
last_sale.head()

In [ ]:
financial_crash = df['month_year'][df['month_year'] == '2007-12-01'].value_counts()[0]
uk_referendum = df['month_year'][df['month_year'] == '2016-06-01'].value_counts()[0]
first_lockdown = df['month_year'][df['month_year'] == '2020-03-01'].value_counts()[0]

In [ ]:
#last_sale['month_year'] = pd.to_datetime(last_sale['date']).dt.to_period('M')

fig = df['month_year'].value_counts().sort_index().plot.line()
fig.add_annotation(x = '2016-06-23',
        y = uk_referendum,
        xref = 'x',
        yref = 'y',
        text = 'UK Referendum',
        showarrow = True,
        arrowhead = 7,
        ax = 0,
        ay = -40)
fig.add_annotation(x = '2007-12-01',
        y = financial_crash,
        xref = 'x',
        yref = 'y',
        text = 'Financial Crash',
        showarrow = True,
        arrowhead = 7,
        ax = 0,
        ay = -40)
fig.add_annotation(x = '2020-03-16',
        y = first_lockdown,
        xref = 'x',
        yref = 'y',
        text = 'First Lock Down',
        showarrow = True,
        arrowhead = 7,
        ax = 0,
        ay = -40)

fig.update_layout(showlegend=False)
fig.show()

In [ ]:
price_cut_df.price.plot(kind = 'hist',figsize = (50,20), bins=40)

In [ ]:
fig = last_sale['adjusted_price'].plot.hist(bins = 20)
fig.show()

In [ ]:
fig = last_sale['new_build'].value_counts().plot.bar()
fig.show()

In [ ]:
fig = last_sale['year'].value_counts().plot.bar()
fig.show()

In [ ]:
# group_by = ['month_year', 'type']

# # use unstack()
# (train_set.groupby(group_by)
#     .median()['adjusted_price']
#     .unstack()
#     .plot(kind='line')
#     .set_xlabel("x label")
#     .set_ylabel("y label")
#     .show())

In [ ]:
last_sale.head()

In [ ]:
financial_crash = last_sale['month_year'][last_sale['month_year'] == '2007-12-01'].value_counts()[0]
uk_referendum = last_sale['month_year'][last_sale['month_year'] == '2016-06-01'].value_counts()[0]
first_lockdown = last_sale['month_year'][last_sale['month_year'] == '2020-03-01'].value_counts()[0]

In [ ]:
#last_sale['month_year'] = pd.to_datetime(last_sale['date']).dt.to_period('M')

fig = last_sale['month_year'].value_counts().sort_index().plot.line()
fig.add_annotation(x = '2016-06-23',
        y = uk_referendum,
        xref = 'x',
        yref = 'y',
        text = 'UK Referendum',
        showarrow = True,
        arrowhead = 7,
        ax = 0,
        ay = -40)
fig.add_annotation(x = '2007-12-01',
        y = financial_crash,
        xref = 'x',
        yref = 'y',
        text = 'Financial Crash',
        showarrow = True,
        arrowhead = 7,
        ax = 0,
        ay = -40)
fig.add_annotation(x = '2020-03-16',
        y = first_lockdown,
        xref = 'x',
        yref = 'y',
        text = 'First Lock Down',
        showarrow = True,
        arrowhead = 7,
        ax = 0,
        ay = -40)

fig.update_layout(showlegend=False)
fig.show()

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
#Scikit Learn Sample

sample_sk_learn = df[['id','postcode', 'type','latitude', 'longitude', 'grid_ref','london_zone' ,'adjusted_price']]

# from sklearn.impute import SimpleImputer
# imp = SimpleImputer(fill_value=0, strategy = "constant")
# london_zone_filled = imp.fit_transform(sample_sk_learn[["london_zone"]])

# from sklearn.preprocessing import OrdinalEncoder
# ordinal_encoder = OrdinalEncoder()
# london_zone_encoded = ordinal_encoder.fit_transform(london_zone_filled)
# london_zone_encoded[:10]

# from sklearn.preprocessing import OneHotEncoder
# cat_encoder = OneHotEncoder()
# housing_cat_1hot = cat_encoder.fit_transform(housing_cat)
# housing_cat_1hot

In [ ]:
train.isnull().sum(axis = 0)